
@import "swiper/scss";

/* Variables */
/* ========================================================================== */

:root {
  --f-body: "OpenSans", sans-serif;
  --f-title: "Eurostile", sans-serif;
  --c-dark: #000000;
  --c-darker: #15213c;
  --c-light: #f4f4f4;
  --c-lighter: #ffffff;
  --c-cyan: #59c3d7;
  --c-blue: #4ca4f8;
  --s-l: clamp(1.5rem, .85rem + 2vw, 3rem);
  --s-xl: clamp(1.75rem, 1rem + 2.4vw, 3.5rem);
  --s-xxl: clamp(2rem,  -.1rem + 6.75vw, 7rem);
  --s-m: clamp(1rem, .95rem + .15vw, 1.125rem);
  --s-xm: clamp(1rem, .5rem + 1.5vw, 2rem);
}



/* Fonts */
/* ========================================================================== */

@font-face {
  font-family: "OpenSans";
  src: url("assets/fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans";
  src: url("assets/fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: "Eurostile";
  src: url("assets/fonts/Eurostile.ttf") format("truetype");
  font-weight: normal;
  font-display: swap;
}



/* Document */
/* ========================================================================== */

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  font: 16px / 1.5 var(--f-body);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

body {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

body.scroll-disabled {
  overflow-y: hidden;
}



/* Special states */
/* ========================================================================== */

:focus {
  outline: none;
}

:focus-visible {
  outline: 2px solid var(--c-cyan);
  outline-offset: 4px;
}

[disabled] {
  cursor: default;
}

.injected-content {
  h1 {
    font-size: 2rem;
    margin: 1rem 0;
  }

  h2 {
    font-size: 1.5rem;
    margin: 1rem 0;
  }

  h3 {
    font-size: 1.3rem;
    margin: .5rem 0;
  }

  h4 {
    font-size: 1.2rem;
    margin: .5rem 0;
  }

  h5 {
    font-size: 1.1rem;
    margin: .5rem 0;
  }

  p {
    margin-bottom: .5rem;
  }
}

.o-y-hidden {
  overflow-y: hidden;
}