.ps {
  background: var(--c-dark);
  color: var(--c-lighter);
  padding: 10rem 1rem;
}
.ps-header {
  display: flex;
  max-width: 70rem;
  margin: auto;
}
.ps-title {
  font-size: var(--s-xl);
  font-family: var(--f-title);
  line-height: 1;
}
.ps-progress {
  position: relative;
  height: 4px;
  background: var(--c-light);
  margin: 0 5rem;
  flex: 1;
  align-self: flex-end;
}
.ps-progress-inner {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: var(--c-cyan);
}
.ps-button {
  border: 1px solid var(--c-blue);
  background: var(--c-blue);
  color: var(--c-lighter);
  display: flex;
  align-items: center;
  font-family: var(--f-body);
  font-size: var(--s-m);
  line-height: 1.5;
  padding: 1em 1.5em;
  cursor: pointer;
  transition: 0.2s;
}
.ps-button::after {
  content: '';
  width: 0.5em;
  height: 0.5em;
  margin-left: 0.75em;
  border-right: 0.15em solid;
  border-top: 0.15em solid;
  transform: translateY(0.1em) rotate(45deg);
}
.ps-button:hover {
  background: transparent;
  color: var(--c-blue);
}
.ps-list {
  list-style: none;
  width: 100vw;
  display: flex;
  margin: 0 -1rem;
  padding: 2rem 0;
  overflow: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}
.ps-list::before {
  content: '';
  width: calc((100vw - 70rem) / 2);
  min-width: 1rem;
  flex-shrink: 0;
}
.ps-list-item {
  padding: 0 2rem 0 0;
}
.ps-list-image {
  display: block;
  width: 55vw;
  height: 30vw;
  object-fit: cover;
  pointer-events: none;
  user-select: none;
}
.ps-list-name {
  display: block;
  font-size: var(--s-xm);
  font-family: var(--f-title);
  margin-top: 0.5em;
  pointer-events: none;
  user-select: none;
}
.dialog {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: rgba(0,0,0,0.7);
  top: 0;
  left: 0;
  z-index: 1000;

  &-close {
    width: 50px;
    height: 50px;
    cursor: pointer;
  }

  &-content {
    padding: 5rem 10rem;

    @media (max-width: 750px) {
      padding: 2rem;
    }

    &-title {
      color: white;
      display: flex;
      justify-content: space-between;
      font-size: 3rem;
      font-weight: bold;
      align-items: center;
      margin-bottom: 2rem;
    }

    &-inner {
      color: white;
      font-size: 1.5rem;
    }
  }
}
@media (max-width: 750px) {
  .ps-header {
    position: relative;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
  .ps-progress {
    position: absolute;
    top: 100%;
    width: 100%;
    margin: 1rem 0;
  }
  .ps-list-image {
    height: 60vw;
    width: 60vw;
  }
}
