.cb {
	background: var(--c-dark);
	color: var(--c-light);
}
.cb-container {
	padding: 7rem 1rem;
	max-width: 70rem;
	margin: auto;
	display: flex;
	font-size: var(--s-xl);
}
.cb-image {
	width: 1.125em;
	height: 1.125em;
	margin-right: 1ch;
	transform: translateY(.05em);
}
.cb-title {
	font-family: var(--f-title);
}