$loaderColor: #4a8df8;

#load-bar {
  animation: cssAnimation 0s 250ms forwards;
  visibility: hidden;
}

@keyframes cssAnimation {
  to { visibility: visible; }
}

.slider {
  position: fixed;
  width: 100%;
  height: 5px;
  top: 0;
  left: 0;
  overflow-x: hidden;
}

.line {
  position: absolute;
  opacity: 0.4;
  background: $loaderColor;
  width: 150%;
  height: 5px;
}

.subline {
  position: absolute;
  background: $loaderColor;
  height: 5px;
}
.inc {
  animation: increase 2s infinite;
}
.dec {
  animation: decrease 2s 0.5s infinite;
}

@keyframes increase {
  from { left: -5%; width: 5%; }
  to { left: 130%; width: 100%;}
}
@keyframes decrease {
  from { left: -80%; width: 80%; }
  to { left: 110%; width: 10%;}
}

.h-theme-dark {
  --h-fg: var(--c-light);
  --h-bg: var(--c-darker);
}
.h-theme-light {
  --h-fg: var(--c-darker);
  --h-bg: var(--c-lighter);
}
.h-theme-accent {
  --h-fg: var(--c-lighter);
  --h-bg: var(--c-blue);
}
.h {
  background: var(--h-bg);
  color: var(--h-fg);
  display: flex;
  align-items: center;
  padding: 0 3rem;
  height: 6rem;
}
.h-home {
  margin-right: auto;
  text-decoration: none;
}
.h-logo {
  display: inline-block;
  width: auto;
  height: 3rem;
  vertical-align: middle;
}
.h-title {
  font-size: 2rem;
  font-family: var(--f-title);
  margin-right: 5rem;
}
.h-toggle {
  position: fixed;
  z-index: 9;
  top: 1.5rem;
  right: 3rem;
  background: none;
  padding: .25rem;
  border: none;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  filter: drop-shadow(1px 1px 1px var(--c-darker)) drop-shadow(0 0 1px var(--c-darker));
}
.h-toggle-img {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
  transition: .5s;
}
.h-toggle-img.active {
  visibility: visible;
  opacity: 1;
  z-index: 1;
}
.h-nav {
  position: fixed;
  z-index: 8;
  overflow-x: hidden;
  overflow-y: auto;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  box-shadow: -3px 0 6px rgba(0,0,0,.16);
  background-color: white;
  padding: 6rem;
  transition: .5s;
  opacity: 0;
  visibility: hidden;
}
.h-nav.active {
  opacity: 1;
  visibility: visible;
}
.h-nav-logo {
  position: absolute;
  left: 1.5rem;
  top: 1.5rem;
  width: 128px;
}
.h-nav-item {
  position: relative;
  font-size: 2rem;
  color: var(--c-dark);
  font-family: var(--f-title);
  text-decoration: none;
  padding: .5rem;
  margin: auto 0;
}
.h-nav-item:hover {
  color: var(--c-cyan);
}
.h-nav-item.active {
  color: var(--c-cyan);
}
.h-nav-item.active::after {
  content: '';
  position: absolute;
  width: 3rem;
  right: calc(100% + 1rem);
  bottom: .5em;
  height: .06em;
  background: var(--c-cyan);
  pointer-events: none;
}
.h-nav-item-text {
  position: relative;
  z-index: 2;
}
.h-nav-item-img {
  position: fixed;
  pointer-events: none;
  object-fit: cover;
  z-index: 1;
  width: 10rem;
  height: 5rem;
  visibility: hidden;
  opacity: 0;
  transition: opacity .5s, visibility .5s;
}
.h-nav-item:hover .h-nav-item-img {
  opacity: .5;
  visibility: visible;
}
@media (max-width: 750px) {
  .h {
    padding: 0 1.5rem;
    height: 5rem;
  }
  .h-title {
    display: none;
  }
  .h-toggle {
    width: 2rem;
    height: 2rem;
    right: 1.5rem;
    top: 1.5rem;
  }
  .h-nav {
    padding: 6rem 4rem 2rem 2rem;
  }
  .h-nav-item {
    font-size: 1.5rem;
  }
  .h-nav-item::after {
    display: none;
  }
  .h-logo {
    height: 2rem;
  }
}