<mat-toolbar role="heading" color="primary" class="sticky-header">
  <span>Dashboard</span>
  <div class="flex-1"></div>
</mat-toolbar>

<section class="grid">
  <div class="col-12">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Welcome</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <p>Welcome to Clarity Security.</p>
        <p>You can visit the website here: <a href="https://ponto-solutions.web.app/">https://ponto-solutions.web.app/</a></p>
        <p class="m-t-s"><b>Quick Actions</b></p>
        <ul class="m-t-s">
          <li><a [routerLink]="['/m/pages/overview']">View Pages</a></li>
          <li><a [routerLink]="['/m/pages/single/new']">Create A Page</a></li>
          <li><a [routerLink]="['/m/settings/single/layout']">Configure Layout</a></li>
        </ul>
      </mat-card-content>
    </mat-card>
  </div>
</section>
