<footer class="f">
  <span class="f-title" *ngIf="data.title">{{ data.title }}</span>
  <img *ngIf="light; else dark" class="f-logo" src="/assets/images/c-on-light.svg" alt="Clarity" />
  <ng-template #dark>
    <img class="f-logo" src="/assets/images/c-on-dark.svg" alt="Clarity" />
  </ng-template>
  <div class="f-contacts" *ngIf="data.contacts">
    <span class="f-contact" *ngFor="let contact of data.contacts">
      <b class="f-contact-label" *ngIf="contact.label">{{ contact.label }}</b>
      <a class="f-contact-link" *ngIf="contact.url" [href]="contact.url">{{ contact.text || '' }}</a>
    </span>
  </div>
  <nav class="f-nav" *ngIf="data.links">
    <a class="f-nav-item" *ngFor="let link of data.links" [routerLink]="[link.link]">{{ link.label || '' }}</a>
  </nav>
  <p class="f-message" *ngIf="data.message">{{ data.message }}</p>
  <div class="f-footer">
    Copyright Clarity SSU <span>|</span> <a class="f-footer-privacy" [routerLink]="['/privacy-policy']">Privacy Policy</a> <span>|</span> Website built with 
    <div>
      <img src="/assets/images/sharq_heart.svg" alt="Sharq Heart"> by
      <a class="f-footer-sharq" href="https://sharq.agency/" target="_blank">
        <img src="/assets/images/sharq.svg" alt="Sharq Logo">
      </a>
    </div>
  </div>
  <div class="f-socials" *ngIf="data.socials">
    <a *ngFor="let social of data.socials" class="f-social" [href]="social.url" target="_blank" [innerHTML]="social.icon | jpSanitize"></a>
  </div>
</footer>
