.m {
  position: relative;
  background: linear-gradient(30deg, var(--c-darker) 86%, var(--c-dark) 86%);
  background: var(--c-lighter);
  font-size: var(--s-xxl);
  font-family: var(--f-title);
  line-height: 1.5;
  white-space: nowrap;
  overflow: hidden;
}
.m-image {
  display: block;
  width: 75vw;
  height: 45vw;
  object-fit: cover;
  opacity: .5;
}
.m-top {
  position: absolute;
  left: 0;
  bottom: 1.5em;
  color: var(--c-blue);
}
.m-bottom {
  position: absolute;
  right: 0;
  bottom: 0;
  color: var(--c-blue);
}
@media (max-width: 750px) {
  .m-image {
    height: 70vw;
  }
}
