.theme-dark {
	--bg: var(--c-darker);
	--fg: var(--c-lighter);
}
.theme-light {
	--bg: var(--c-light);
	--fg: var(--c-darker);
}
.theme-accent {
	--bg: var(--c-blue);
	--fg: var(--c-lighter);
}
.ht {
	background: var(--bg);
	color: var(--fg);
}
.ht-title {
	padding: 6rem 1rem;
	font-size: var(--s-xl);
	font-family: var(--f-title);
	font-weight: normal;
	max-width: 70rem;
	margin: 0 auto;
}
.ht-image {
	display: block;
	width: 100vw;
	height: 40vw;
	object-fit: cover;
}
@media (max-width: 750px) {
	.ht-image {
		height: 80vw;
	}
}