.mat-toolbar {
  background-color: var(--primary-theme);
}

.jms-instance-single-loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

::ng-deep {

  /**
   * Form UI Overrides
   */
  .fb-fields {
    .fields-footer,
    .field {
      background: white;
      border-radius: 4px;
    }
  }

  /**
   * Page Builder Overrides
   */
  .pb {
    &-intro {
      background: var(--panel-theme);
      border-radius: 4px;
    }
    &-preview {
      background: var(--panel-theme) !important;
    }
  }

  /**
   * Template Editor Overrides
   */
  fb-tm-template-editor {
    background: white !important;
    border-radius: 4px;
  }
}
