.hg {
	background: var(--c-lighter);
	overflow: hidden;
}
.theme-darker {
	background: var(--c-darker);
}
.hg-container {
	position: relative;
	padding: 1rem;
	max-width: 70rem;
	margin: auto;
	display: flex;
	align-items: center;
	min-height: 40rem;
}
.hg-content {
	position: relative;
	z-index: 2;
}
.hg-title {
	font-family: var(--f-title);
	font-size: var(--s-xl);
	font-weight: normal;
	line-height: 1.25;
	max-width: 12ch;
}
.hg-subtitle {
	font-size: var(--s-m);
	max-width: 40ch;
	margin: 0 0 1em;
	line-height: 2;
}
.hg-toggles {
	margin: 3em 0 0;
}
.hg-toggle {
	width: 1rem;
	height: 1rem;
	margin-right: 1.5rem;
	border-radius: 1rem;
	padding: 0;
	border: none;
	background: var(--c-light);
	cursor: pointer;
}
.hg-toggle.active {
	background: var(--c-cyan);
}
.hg-images {
	position: absolute;
	left: 32rem;
	width: calc(58rem + ((75vw - 80rem) / 2));
	height: 100%;
	user-select: none;
}
.hg-image {
	width: 100%;
	height: 100%;
	object-fit: contain;
	opacity: .5;
}
//@media(max-width: 70rem) {
//	.hg-images {
//		width: calc(100vw - 12rem);
//	}
//}


@media(max-width: 1600px) {
	.hg-images {
		position: absolute;
		left: 30rem;
		width: calc(58rem + ((75vw - 80rem) / 2));
		height: 100%;
		user-select: none;
	}
}

@media(max-width: 950px) {
	.hg-container {
		flex-direction: column;
		align-items: stretch;
		min-height: unset;
	}

	.hg-images {
		position: static;
		width: 100vw;
		margin: 0 -1rem -1rem;
		height: unset;
	}
}

@media(max-width: 750px) {

	.hg-toggles {
		margin: 2em 0 2em;
	}
	.hg-title {
		max-width: unset;
	}

}

swiper {
	height: 100%;
}